services:
  app:
    build:
      context: .
      dockerfile: docker/prod.Dockerfile
      target: dev
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "3001:3001"
    environment:
      - APP__DATABASE__URL=postgres://postgres:postgres@db:5432/crypto_wallets
      - APP__VAULT__ADDRESS=http://vault:8200
    depends_on:
      - db
      - vault
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  db:
    image: postgres:18.1
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=crypto_wallets
    ports:
      - "5432:5432"

  vault:
    image: hashicorp/vault:1.21.2
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=root
      - VAULT_ADDR=http://127.0.0.1:8200
      - VAULT_TOKEN=root
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    volumes:
      - ./docker/vault-init.sh:/usr/local/bin/vault-init.sh
    entrypoint: /usr/local/bin/vault-init.sh

volumes:
  redis_data:
