apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml

commonLabels:
  app.kubernetes.io/name: crypto-wallets-service
  app.kubernetes.io/version: "1.0.8"

images:
  - name: crypto-wallets-service
    newTag: v1.0.8
