apiVersion: v1
kind: Service
metadata:
  name: crypto-wallets-service
  labels:
    app: crypto-wallets-service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
    - name: grpc
      port: 81
      targetPort: 3001
      protocol: TCP
  selector:
    app: crypto-wallets-service
