apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: crypto-wallets-staging

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: crypto-wallets-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2

configMapGenerator:
  - name: wallet-service-config
    literals:
      - vault-address=https://vault.staging.internal:8200
      - vault-key-id=wallet-staging-key
      - redis-url=redis://redis-staging:6379
